{% extends "layout.html" %}


{% block title %}
    About
{% endblock %}

{% block main %}
    <h3>Our Residence</h3>
    <p><h6>The Care Residence was formed in 2003 and is Canada’s largest Business Improvement Area with over 3,200 commercial, industrial and retail establishments employing approximately 28,000 people. It is also one of the City of Toronto’s largest designated Employment Zones.</h6></p>
    <p><h6>The CR's mandate is to initiate and oversee community improvements such as beautifying the streetscape, creating a sense of place and sustainability with inviting and safe environments, instilling a sense of community and civic pride in the neighbourhood, and celebrating the rich cultural history of Emery Village.</h6></p>
    <p>Care Residence was designated a Business Improvement Area by Toronto City Council. Please contact Emery BIA at 416-747-7272 or info@careresidence.ca for a copy of the Constitution.</p>
    <p><h5>LEAF ORGANIZATIONS</h5></p>
    <p>The Ontario Care Residence Association (OCRA), since 2001, acts as an important resource for education, partnership and collaboration to each CRA across the province. OCRA recognizes the power of networking, the strength in numbers and the value of sharing common concerns and finding resolutions specific to our individual communities.</p>
    <p>The Toronto Association of Business Improvement Areas (TABIA) is a non-profit leaf organization working with the over 83 Business Improvement Areas within the City of Toronto who in turn represent more than 40,000 business & property owners. TABIA gives Toronto Business Improvement Areas a voice. From advocacy to collective bargaining, TABIA actively advances the interests of its members with all levels of government. TABIA also offers its members discounts and other benefits.</p>
    <p><h5>BOARD OF MANAGEMENT</h5></p>
    <h5>Tim Lambrinos</h5>
    <p>Chair, Historical & Arts Advisory Board</p>
    <p><h5>Silvio Carnovale</h5></p>
    <p>Vice Chair, NEG Audio Visual inc.</p>

{% endblock %}