{% extends "layout.html" %}


{% block title %}
    CONTACT
{% endblock %}


{% block main %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script>
    function greet()
        {
          alert('Thank You, Your request has been successfully generated');
        }
</script>


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="contact-info">
				<img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
<h4>Contact Us</h4>
<pre>
Care Residence Office
1775 Willow Avenue., Suite 210
Toronto ON, M9M 0E4
</pre>
<pre>
E-mail: info@careresi.ca
Tel: 416.747.7272
Fax: 416.777.7557
</pre>

<pre>
<b>Business Hours:</b>
Monday-Friday: 9am-4pm
Saturday-Sunday: CLOSED
Holidays: CLOSED
</pre>
            </div>
        </div>
        <div class="col-sm">

                <fieldset>
                <form action="/contact" method="post">

                    <div class="row">
                        <div class="form-group col-md-4">
                          <label for="firstname">First Name *</label>
                          <input type="text" class="form-control" id="firstname" placeholder="First Name" required>

                        </div>
                        <div class="form-group col-md-4">
                          <label for="last">Last Name *</label>
                          <input type="text" class="form-control mr-sm-2" id="last" placeholder="Last Name" required>
                        </div>
                    </div>
                    <div class="form-group row col-xl-2">
                            <label for="mail">E-Mail *</label>
                            <input type="email" class="form-control" id="mail" placeholder="abc@xyz.com" required>
                    </div>
                    <div class="form-group row col-xl-2">
                            <label for="number">Phone *</label>
                            <input type="numeric" class="form-control" id="number" placeholder="123-456-7890" required>
                    </div>
                    <div class="form-group">
                        <label for="yn">Are You Owner ? *</label>
                        <select class="custom-select" class="form-control" id="yn" required>
                            <option selected>Select</option>
                            <option value="y">Yes</option>
                            <option value="n">No</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <div class="col-xl-2">
                            <label for="sub">Subject *</label>
                            <input type="text" class="form-control" id="sub" placeholder="In regards to.." required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xl-3">
                            <label for="exampleFormControlTextarea1">Your Message *</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="0" placeholder="Type your request.." required></textarea>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary">
                    </form>
                </fieldset>

        </div>
</div>
{% endblock %}