{% extends "layout.html" %}


{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="card-deck">
  <div class="card border-danger mb-7">
    <div class="card-body text-danger">
      <h5 class="card-title" style="text-align:center;"><a href="/maintenance">Maintenance</a></h5>
      <p class="card-text">Periodic <b>maintenance</b> also falls under the general class of home repairs.
        <ul>
          <li>Check HVAC system filters.</li>
          <li>Look for leaks around toilets and sinks.</li>
          <li>Inspect grout and caulking.</li>
          <li>Check kitchen vent hood filter.</li>
          <li>Test smoke and carbon-monoxide detectors.</li>
          <li>Stroll around outside.</li>
          <li>Watch for ice dams.</li>
          <li>Test your sump pump.</li>
          <li>Close foundation vents.</li>
          <li>Cover outdoor air-conditioning units.</li>
        </ul>
      </p>
    </div>
  </div>
  <div class="card border-success mb-7">
    <div class="card-body text-success">
      <h5 class="card-title" style="text-align:center;"><a href="/cleaning">Cleaning</a></h5>
      <p class="card-text">
        <ul>
          <li>Ceiling fans and light fixtures (dusted)</li>
          <li>Blinds and window sills (dusted)</li>
          <li>Baseboards (dusted)</li>
          <li>Outside of appliances cleaned /inside microwave</li>
          <li>Stove-top and backsplashes (washed)</li>
          <li>Mirrors (Windexed)</li>
          <li>Tub/Shower and tiles cleaned</li>
          <li>Wastebaskets emptied</li>
          <li>Beds made (includes master and 1 additional bed)</li>
          <li>Stairs (vacuumed, wood dusted)</li>
          <li>Floors (vacuumed and /or mopped)</li>
        </ul>
      </p>
    </div>
  </div>
  <div class="card border-warning mb-7">
    <div class="card-body text-warning">
      <h5 class="card-title" style="text-align:center;"><a href="/parking">Parking</a></h5>
      <p class="card-text">
        <ul>
          <li>Parking Lot Painting & Refinishing.</li>
          <li>Visitor's Spot.</li>
          <li>Parking Spot to add vehical.</li>
        </ul>
      </p>
    </div>
  </div>
</div>
{% endblock %}